*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #a71717;
    position: relative;
}
.container
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles
{
    position: relative;
    display: flex;
    justify-content: space-around;
}

.bubbles span
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #0602dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4551ffc8, 0 0 50px #0602dc,
    0 0 100px #0602dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
    
}
.bubbles span:nth-child(even)
{
    background: #000;
    box-shadow: 0 0 0 10px #000000a5, 0 0 50px #000,
    0 0 100px #000;
}

@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }


}

#cuadro{
    width: 70%;
    height: 70%;
    background: #fff;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
}